[Unit]
Description=Meraki Alerts to Google Chat
After=network.target

[Service]
Type=simple
User=<your-user>
WorkingDirectory=<your-working-dir>
ExecStart=<your-script-path>
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
